__pycache__/
*.py[cod]
*.swp
dist/
sdist/
env/
build/
testing/
develop-eggs/
eggs/
*.egg-info/
*.egg
*.deb
*.dsc
*.build
*.changes
*.orig.*
.installed.cfg
.idea

MANIFEST

pip-log.txt
pip-delete-this-directory.txt
